<h1 class="fw-light">Coffees</h1>
<%= render partial: 'item', locals: { items: @coffees } %>

<h1 class="fw-light">Desserts</h1>
<%= render partial: 'item', locals: { items: @desserts } %>

<h1 class="fw-light">Foods</h1>
<%= render partial: 'item', locals: { items: @foods } %>