<p class='text-item'>
  <% if items && items.length > 0 %>
    <% items.each_with_index do |item, i| %>
      <% ip = ItemPresenter.new(item) %>
      <%= i + 1 %>. <%= ip.uppercase_name %> - <span class='text-price'><%= ip.amount_with_tax_and_currency %></span> 
      <a href='<%= add_item_to_cart_item_path(ip.id)%>' method="post" class='item-link'>
        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-circle-fill' viewBox='0 0 16 16'>
          <path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/>
        </svg>
      </a> <br />
    <% end %>
  <% else %>
    No Items found.
  <% end %>
</p>