<p>
  <%= form_with(url: '/', method: :get, local: false, class: 'row g-2') do |f| %>
    <div class='col-auto col-md-4'>
      <%= f.text_field :q, placeholder: 'Search item', class: 'form-control inline-block' %>
    </div>
    <div class='col-auto'>
      <%= f.submit 'Search', class: 'btn btn-primary inline-block' %>
    </div>
  <% end %>
</p>

<div id='items'>
  <%= render partial: 'index' %>
</div>